.box {}

.name {
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center;
  color: #333;
  width: 100%;
  font-size: 1.65rem;
  font-weight: 700;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  z-index: 10;
  filter: blur(0);
}

.buy {
  position: absolute;
  bottom: 40px;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  color: #fff;
  background: #333;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(0,0,0,0.06), 0 3px 4px rgba(0,0,0,0.13);

}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: rgb(92, 92, 92) radial-gradient(circle, transparent 1%, #333 1%) center/15000%;
}

.ripple:active {
  background-color: #333;
  background-size: 100%;
  transition: background 0s;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: 0.5s;
  transform-style: preserve-3d;
  opacity: 1;
  transform: translate3d(-50%, -50%, 50px);
  box-shadow: 0 3px 4px rgba(0,0,0,0.06), 0 3px 4px rgba(0,0,0,0.13);
}

.product {
  position: initial;
  top: 50%;
  left: 50%;
  height: 250px;
  transition: 0.5s;
  z-index: 11;
  transform-style: preserve-3d;
  transform: translate3d(2%, -10%, 20px) rotate(15deg) scale(1.2);
  filter: blur(0);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.box:hover .product {
  transform: translate3d(2%, -10%, 50px) rotate(15deg) scale(1.2);
  filter: blur(0);
}